<form method="post">
    <p>Ваш логин</p>
    <input type="text" name="login"><br>
    <p>Ваш пароль</p>
    <input type="password" name="password"><br><br>
    <input type="submit" name="send_auth" value="Войти">
</form>