<div class="product-more">
    <img class="photo-more"
            {# src="img/{{ product.image}}" #}
         src="img/default.jpg"
         alt="image">
    <div class="product-details">
        <span class="product-price">{{ product.price }} руб.</span>
        <span class="product-title"><b>{{ product.title }}</b></span>
        <span class="product-desc">{{ product.content }}</span>
        <a class="tocart-btn" href="#">В корзину</a>
    </div>
</div>