
<form method="post">
    <p>Логин</p>
    <input type="text" name="login">
    <p>Пароль</p>
    <input type="password" name="password">
    <p>Имя</p>
    <input type="text" name="name">
    <p>Телефон</p>
    <input type="text" name="phone">

    <br><br>
    <input type="submit" name="send_reg" value="Зарегистрироваться">
</form>